# File Extensions
*.db*
*.pyc
*.env
*.log
*.aof
*.rdb
*.zip
*.lock
*.coverage
*.secrets.*
desktop.ini
codium_*.py

# Files
# Useful for when you're testing something
__debug__.py

# Folders
dist
.qodo
.logs
.cache
.selenium
.downloads
__pycache__
.mypy_cache
pytest_cache
.tmp.driveupload
.tmp.drivedownload
