attrs>=23.1.0
certifi>=2023.7.22
cffi>=1.15.1
charset-normalizer>=3.2.0
colorama>=0.4.6
exceptiongroup>=1.1.3
greenlet>=2.0.2
h11>=0.14.0
idna>=3.4
numpy>=1.26.0
outcome>=1.2.0
packaging>=23.1
pandas>=2.1.1
pycparser>=2.21
pyodbc>=4.0.39
PySocks>=1.7.1
python-dateutil>=2.8.2
python-dotenv>=1.0.0
pytz>=2023.3.post1
requests>=2.31.0
-e git+https://github.com/nelsonombuya/script_manager.git@1e569598188554c567ac044537e01baae4be9827#egg=script_manager
selenium>=4.12.0
six>=1.16.0
sniffio>=1.3.0
sortedcontainers>=2.4.0
tqdm>=4.66.1
trio>=0.22.2
trio-websocket>=0.10.4
typing_extensions>=4.8.0
tzdata>=2023.3
urllib3>=2.0.5
webdriver-manager>=4.0.0
wsproto>=1.2.0
